!!!5
html
  head
    title #{title}
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p 
        | Running on node with Express, Jade and Stylus.
      p Promoted by 
        a(href="http://unplu.gg") unplugg

    
    link(rel='stylesheet', href='/stylesheets/style.css')